[2012-03-31 23:36] vtjnash opened #1 "first call to run_event_loop fails"
First call to run_event_loop (such as in readall) return immediately. Subsequent calls seem to work fine.

[2012-03-31 23:37] vtjnash opened #2 "ctrl-c handler not active on first input line"
The ctrl-c handler does work until after the first line has been entered

[2012-03-31 23:40] vtjnash opened #3 "ctrl-c handler doesn't get called"
SIGINT is being ignored (instead of calling our signal handler) except at the REPL prompt

[2012-03-31 23:52] Keno commented on #2
I am fairly certain this is because the terminal is in raw mode and C-c actually gets read as a normal character. Adding the proper handler to the keymap should work.

[2012-04-01 00:46] Keno commented on #1
I traced this back to a race condition between reading and closing the pipe. Fixed by having all pending events be processes before closing the pipe.

[2012-04-01 00:46] #1 closed, assigned to Keno

[2012-04-01 01:52] vtjnash commented on #2
This sounds right -- I now see that calling SIGINT directly work correctly

[2012-04-01 02:45] #2 closed, assigned to Keno

[2012-04-01 02:57] Keno commented on #3
I think I got this figured out. Will push in a minute.

[2012-04-01 03:02] vtjnash commented on #3
Whoops, I did too and just pushed. I'm curious if we did it similar or if you have a better approach.

[2012-04-01 03:04] #3 closed, assigned to vtjnash

[2012-04-01 03:16] vtjnash opened #4 "readall after SIGINT is unpredictable"
readall will not necessary return after the correct child terminates after SIGINT has been called during prior call to readall. Instead it may return too soon, resulting in the loss of the output text.

[2012-04-01 03:34] vtjnash opened #5 "piped commands don't work"
A simple example, where the input of the next depends on a previous command, like run(`echo a` | `cat -b -`) hangs forever

[2012-04-01 04:14] Keno commented on #3
Ok, it took a little longer than expected, but I just pushed it. Try it out!

[2012-04-01 04:26] Keno commented on #3
Seems like I broke something during the merge. A fix is underway

[2012-04-01 04:30] Keno commented on #3
done

[2012-04-01 04:34] Keno commented on #5
Ah yes, libuv is designed to be used by Node and strangly enough piping isn't supported the way I'd like it to be. It's a relatively small patch for windows and I'll do the same for unix.

[2012-04-01 05:09] Keno commented on #5
basic pipes work now. I'll do the more complex stuff tomorrow.

[2012-04-01 05:09] Keno commented on #4
Can you give me an example of what you mean?

[2012-04-01 07:01] vtjnash commented on #3
I am SO confused right now. Everything is working, but you reverted the changes I made and made them raw reads again, but those aren't working through readline (it would segfault if they were since the async handler isn't setup) so that means the interrupt is suddenly working properly. I don't know, but I'm thinking of removing the repl-readline code dealing with them and just leave the signal han

[2012-04-01 07:34] vtjnash commented on #5
It doesn't hang anymore, which is good, but the pipes appear to be all connected to stdin/stdout instead of end to end.

[2012-04-01 07:41] vtjnash commented on #4
Let me know if this clear enough. Note that the second call to sleep was canceled immediately with a Ctrl-C. The third call was not. We see that subsequent calls detect that the earlier call finished (before or after they launch) and return thinking their process was done. Calling read_event_loop() repeatedly eventually resynchronizes the machinery.

[code]

[2012-04-01 16:12] Keno commented on #3
Yes, it was a problem with the terminal settings. Readline is only active during the prompt (I suppose whoever implemented that wanted to be able to read from STDIN outside the REPL).

[2012-04-01 17:21] Keno commented on #4
Fixed

[2012-04-01 17:21] #4 closed, assigned to vtjnash

[2012-04-01 17:21] Keno commented on #5
Hmm that's odd I'll look into it

[2012-04-01 23:21] vtjnash opened #6 "[libuv] typo in windows build"
there should be an extra } before this line:
https://github.com/loladiro/libuv/blob/master/src/win/process.c#L986

(Sorry, I can't mark anything in that repo to report this)

[2012-04-01 23:37] Keno commented on #6
Yes, I know I fixed it locally. I'm currently building a package. There are a few other issues too that I fixed

[2012-04-01 23:56] Keno commented on #6
Done in loladiro/libuv@faaaa0347fda18902aab02a35c6a584d01a41d21

[2012-04-01 23:56] #6 closed, assigned to nobody

[2012-04-07 00:52] Keno opened #7 "Windows color scheme"
A little hard to read at the moment. Either change the default answer color or do some magic with the console API.

[2012-04-07 00:53] Keno opened #8 "Memory Leaks"
The windows version suffers from memory leaks. This does not occur with the same code on Ubuntu 64. Maybe this is a 32 vs 64 bit issue. (specific details on the mailing list)

[2012-04-07 00:54] Keno opened #9 "Fix Random number seed"

[2012-04-07 00:55] Keno opened #10 "Fix fmin on windows"
I probably messed up with the macro in math.jl. Should be easy to fix

[2012-04-07 00:56] Keno opened #11 "Make the delete key actually delete"

[2012-04-07 00:56] Keno opened #12 "Fix help()"

[2012-04-07 00:57] Keno opened #13 "Look at ENV[] and friends to see if they are working properly"
Settings of variables may not work (as mentioned on the mailing list). Fix that!

[2012-04-07 05:21] #12 closed, assigned to nobody

[2012-04-07 17:02] Keno commented on #10
Turns out `fmin` and `fminf` are some of the many function of C99 that Microsoft chose not to implement :(. @ViralBShah (this should send you a notification, I hope) What's the status of openlibm? Can we use it to provide `fminf` and others that are not implemented on Windows?

[2012-04-08 02:59] Keno commented on #9
Fixed in 4a443ecdff

[2012-04-08 02:59] #9 closed, assigned to nobody

[2012-04-08 03:27] Keno opened #14 "Align SIGINT behavior with that on UNIX"

[2012-04-08 04:41] vtjnash commented on #10
(I played around a bit with openlibm before too helping Viral with some build errors). It looks like it may work (with several minor fixes due to missing headers). However, Windows does not define several functions on infinity (e.g. isinff) or defines them differently (it uses different values for the return constants), so it would take some work to make sure it is truly portable. However, we need

[2012-04-08 04:51] Keno commented on #10
Hmm, can't we provide the proper functions that are missing? E.g. for isinff we would only need to check for the proper bit representation of the IEEE 754 float, which should not be too difficult using the union types declared by openlibm

[2012-04-08 05:08] vtjnash commented on #10
Yes, we should be able to. I just want to make sure we don't accidentally leave a function around (like fpclassify) that is returning the incorrect answer just because it seems to compile fine.

It looks like isnan, isnormal, and isfinite are already defined. It's just fpclassify and isinf that need the most work. (and isnan has one necessary definition commented out)

[2012-04-08 05:14] ViralBShah commented on #10
Making openlibm truly independent is a worthy goal by itself, and we can use it in julia instead of fdlibm as well. Also, we need the assembly implementations to build so that it is comparable on performance.

On 08-Apr-2012, at 10:11 AM, Jameson Nashreply@reply.github.com wrote:

[2012-04-08 05:39] ViralBShah commented on #10
Also, it may not be too difficult to convert all of openlibm to julia, but making it robust and complete may take a long time.

-viral

On 08-Apr-2012, at 10:38 AM, Jameson Nashreply@reply.github.com wrote:

[2012-04-08 16:51] Keno commented on #13
Needs calling convention support as all windows API functions use __stdcall. See mailing list.

[2012-04-09 01:16] vtjnash commented on #10
In the meantime, I've written isinf as loladiro suggested. It now builds on Windows as well as Mac and Linux and appears to integrate well with julia (that program is an awesome test environment for quickly scripting/testing c code :). I'm currently maintaining two branches at https://github.com/vtjnash/openlibm (inline and master).

Open issues with openlibm are: (1) fpclassify isn't written. (2)

[2012-04-09 01:28] vtjnash commented on #14
We need to remove the sigint handler and use SetConsoleCtrlHandler(sigint_handler,1). I'm not sure what this issue is supposed to reference, but using signal(SIGINT) on Windows apparently runs the signal handler in a parallel thread. It should be a clean swap, I just haven't finished setting up my Julia build environment so I can't test it.

[2012-04-09 01:30] Keno commented on #14
Right, I was just setting up issues for things we got on the mailing list to not keep tracking them. I'll do this once I'm done porting readline 6.2 to Windows (the last release for Windows was 5.0 which didn't have multiline support)

[2012-04-09 02:01] #11 closed, assigned to nobody

[2012-04-09 02:30] Keno commented on #14
Apparently `SetConsoleCtrlHandler` runs in a separate thread to, so we can't directly call `jl_raise`. We'll have to come up with some solution that calls `jl_raise` from the main thread

[2012-04-09 03:34] ViralBShah commented on #10
I've seen people swearing by inline, but in practice, I have often not seen any measurable difference in most cases I have tried. Also, feel free to push to the openlibm repo. Nobody is using it, so maybe simpler to develop directly on it.

Is __strong_reference one of those C99 things? Much of the complexity in the openlibm codebase is to deal with compilers, it seems.

-viral

On 09-Apr-2012, at

[2012-04-09 04:03] vtjnash commented on #10
I will, I was just using my fork as a way to manage the branches while I tested everything. I think it is a way of hiding stuff from the linker. It must not be C99 since it doesn't seem to really exist outside of BSD.

Apparently, reference = alias in GCC. This is the best site I've come across so far at explaining it: http://sourceware.org/ml/binutils/2005-10/msg00107.html

It seems to me that so

[2012-04-13 01:07] #8 closed, assigned to nobody

[2012-04-13 01:09] Keno commented on #7
The only thing we can do here is either use a terminal alternative or change the default answer color (depends on #13). A better terminal interface may come in a future release (probably something comparable to octave's new interface), though at the moment the web IDE should have more priority.

[2012-04-16 07:41] vtjnash commented on #14
I've got some code working that gives the correct behavior. However, Windows seems to be really bad about actually sending SIGINT most of the time. I'm not sure if this is related to the tty raw/cooked mode again, but we only get the signal while at the readline prompt. And while running in MingW's shell something else kills it a very short time later anyways (but cmd.exe is OK).

[2012-04-18 05:47] vtjnash commented on #5
issue summary: uv_spawn requires access to both ends of the stdin and stdout pipes. broken testcase is readall(`echo a` & `echo b`)

[RFC] resolution proposal:
Should we (A) explicitly split fd into fd_read and fd_write (or fd[2]) everywhere or (B) add a field fd_end2 that is used just during process spawning? I'm willing to work on writing either.

Pro/Cons of these that I can see currently are:

[2012-04-22 22:38] isaacs commented on #5
The libuv child_process stdio is in the middle of being refactored.  Feedback would be most appreciated.

Here's the tracking issue in node: https://github.com/joyent/node/issues/3065

[2012-05-15 23:00] Keno commented on #13
Should work now.

[2012-05-15 23:00] #13 closed, assigned to nobody

[2012-05-24 06:12] vtjnash commented on #14
While MinGW's shell still kills julia unconditionally, the signal handling works correctly when run from cmd.com

[2012-05-24 06:12] #14 closed, assigned to nobody

[2012-05-27 07:22] #7 closed, assigned to Keno

[2012-05-27 07:22] #10 closed, assigned to nobody

[2012-05-28 19:04] Keno commented on #5
The upstream refactor is done.

[2012-05-30 16:02] vtjnash opened #15 "VERSION newline"
Chomp only handles unix newlines.  If Julia is checked out with Windows newlines, the parsing of the file VERSION fails.

[2012-05-30 16:21] vtjnash commented on #5
They haven't implemented the proposed uv_pipe (which wouldn't be exactly ideal anyways) or reuse of pipes, so it is still not possible to fix with unmodified libuv. It is now possible to give raw file descriptors, so it is now possible to do file IO pipes.

[2012-05-30 18:05] StefanKarpinski commented on #15
Non-UNIX newlines are the worst. Seriously. The WORST!

[2012-05-30 19:05] StefanKarpinski commented on #15
Closed by https://github.com/JuliaLang/julia/commit/3d707882655894ccaae26f233de069d730cb36ee. Please verify that my fix works and reopen if not.

[2012-05-30 19:05] #15 closed, assigned to nobody

[2012-06-01 03:36] vtjnash opened #16 "ctrl-c handler (windows)"
1) basic mode at prompt doesn't catch ctrl-c signal
2) ctrl-c at readline prompt doesn't put the cursor at the right spot

[2012-06-01 03:40] vtjnash opened #17 "colors in basic repl"
basic should be using jl_write to get colors working properly

[2012-06-03 04:27] Keno opened #18 "readline() doesn't work"
`readline` gives back garbage. `readall` works though

[2012-06-04 21:54] vtjnash opened #19 "SuiteSparse-3.7.1"
download server suddenly seems to no longer have this version

[2012-06-04 21:56] vtjnash opened #20 "openblas installation"
LIBBLAS variable expects v0.1.1 suffix, which is not actually present (although I might just have an stale build)

[2012-06-04 21:58] Keno commented on #20
Should be fixed (I think). Not sure though. Will try a fresh build later and see if it gets copied properly.

[2012-06-05 00:55] ViralBShah commented on #19
4.0 is expected shortly, as per my conversation with Tim Davis.

-viral

On 05-Jun-2012, at 3:24 AM, Jameson Nashreply@reply.github.com wrote:

[2012-06-05 02:31] vtjnash commented on #19
4.0.0 is already available online

[2012-06-10 02:19] #18 closed, assigned to nobody

[2012-06-10 02:29] vtjnash commented on #5
basic stuff in julia refactor now works (pull libuv from https://github.com/vtjnash/libuv, pipes branch, if you are trying to build on linux right now)

[2012-06-10 02:34] Keno commented on #5
Awesome. Does you branch of libuv pass the libuv unit tests?

[2012-06-10 02:37] vtjnash commented on #5
yes, although it might be (probably is?) not fully complete. i was hoping you would take a look before merging it with the pull request

[2012-06-10 02:39] Keno commented on #5
Will do. I'm flying back to Europe for the summer tomorrow, so I won't get to it until Tuesday though (unless I get to it while on the plane).

[2012-06-10 07:03] vtjnash opened #21 "windows build?"
everything seems to be broken (with updated libuv):

in debug:

[code]

in release:

[code]

if line 109 is commented out, it will fail at various places in gdb due to stack access issues or it will fail loading version.jl if not run with gdb

[2012-06-15 03:19] vtjnash commented on #21
this was an issue with libuv rearranging the order of UV_HANDLE_FIELDS (uv_handle_type needed to be second). I fixed it in JuliaLang:master, but a longer term fix may be required.

[2012-06-22 19:28] vtjnash commented on #19
changed to version 4.0.0

[2012-06-22 19:28] #19 closed, assigned to nobody

[2012-06-22 19:42] vtjnash opened #22 "stack corruption bug on windows"
when running the default test suite (in its entirety), the stack gets corrupted at some point during execution of lapack:

lapack.jl
0x03ED0870 (0x00000002 0x00000000 0x00000000 0x3AEEBB33), LAPACKE_csyr_work() + 0x1242A4 bytes(s)
0x03757FDE (0x0028E198 0x0028E19C 0x0028E364 0x0028E2E4), dscal() + 0x8E bytes(s)
0x03A32BB2 (0x00000000 0x0028956C 0x00000001 0x00000000), dhseqr_() + 0x722 bytes(s)
0x

[2012-06-22 19:50] StefanKarpinski commented on #22
Maybe an LAPACK bug or an OpenBLAS bug?

[2012-06-22 19:52] vtjnash commented on #22
I don't think any part of that stack is correct. I should clarify that running just the lapack test, without running the other tests in default before it, succeeds.

[2012-06-22 19:56] StefanKarpinski commented on #22
Ah. Yes, that does sounds like a Julia-induced memory corruption that LAPACK just happens to stumble into.

[2012-07-06 07:00] #21 closed, assigned to nobody

[2012-07-06 07:02] vtjnash commented on #5
closing this for now as pipe commands pretty much work and I am tracking the missing functionality at the top of stream.jl as I go

[2012-07-06 07:02] #5 closed, assigned to Keno

[2012-07-06 07:03] vtjnash opened #23 "realpath on windows"
mingw doesn't have realpath

[2012-07-06 07:07] JeffBezanson commented on #23
Not to mention everything else in file.jl!

[2012-07-06 12:37] Keno commented on #23
There's [GetFullPathName](http://msdn.microsoft.com/en-us/library/windows/desktop/aa364963%28v=vs.85%29.aspx) and a lot of file.jl can be implemented using libuv. I'll have a crack at that over the weekend (unless somebody else wants to do that first).

[2012-07-08 18:44] #23 closed, assigned to nobody

[2012-07-09 11:57] Keno commented on #22
Ok, this definitely is an LAPACK/OpenBLAS bug as the tests run fine with MKL (in related news we get to use MKL on windows). However, I have no idea how to debug this. Ideas?

/cc @xianyi

[2012-07-09 14:33] xianyi commented on #22
Hi,

What's your gcc version? Is Windows 32-bit or 64-bit?

Do you try OpenBLAS 0.2.2 version?

@zchothia , any suggestion?

Thanks

Xianyi

[2012-07-09 14:35] Keno commented on #22
This is gcc 4.6.2 on Windows 32-bit using the OpenBLAS develop branch.

[2012-07-09 15:34] vtjnash opened #24 "fix multiprocessor support"
Support for multiple processors was broken by some of my changes in stream.jl. I'm aware of the issue and have started working on some of the changes necessary to get this working again.

[2012-07-09 15:36] vtjnash opened #25 "spawn.jl"
this issue is a placeholder for the TODO items and missing functionality listed at the top of spawn.jl

[2012-07-09 15:37] vtjnash commented on #20
I changed the LIBBLAS variable to remove the v0.1.1 suffix. If this is working for everyone else, I would like to close this issue.

[2012-07-09 20:52] vtjnash opened #26 "switch getipadddr to using uv_interface_addresses"

[2012-07-09 21:12] zchothia commented on #22
A few random thoughts:
- I would have suggested trying a 64-bit build since there would then only be one calling convention involved, but it seems as though this is still a work-in-progress.
- It may be worth trying the reference BLAS and LAPACK implementations to rule out whether OpenBLAS is indeed causing the issue.
- You could try DrMemory [1] although I am uncertain whether this will even work

[2012-07-09 21:54] Keno commented on #22
- 64-bit build is not possible at the moment unfortunately
- Both the netlib reference blas/lapack and the intel mkl work fine
- Dr. memory doesn't work
- It's rather hard to narrow done this problem as it seems to not fail on the call that caused the corruption (meaning that there are several different configurations that trigger the same corruption, but taking any of them by themselves does not

[2012-07-10 15:31] Keno commented on #22
Another option would be to print a trace whenever a ccall is made. @JeffBezanson is that possible/implemented?

[2012-07-12 04:47] vtjnash commented on #22
I implemented roughly what loladiro suggested, so here's the stack trace from ./julia test/poly.jl on x86_64 showing the execution of BLAS ccalls leading up to the fault:

ccall in _jl_blas_copy return
ccall in _jl_lapack_syev return
ccall in _jl_lapack_syev return
ccall in _jl_blas_copy return
ccall in _jl_lapack_geev return
ccall _jl_lapack_geev
0x051D0870 (0x00000002 0x00000000 0x00000000 0xB75

[2012-07-13 15:01] Keno commented on #22
@zchothia @xianyi any ideas given this trace?

[2012-07-17 13:34] Keno commented on #20
@vtjnash Any objections to closing this?

[2012-07-17 13:35] #20 closed, assigned to nobody

[2012-07-30 23:35] vtjnash commented on #22
Note that the 5x5 input array is composed of the following exact fractions:

[code]

[2012-07-31 01:39] xianyi commented on #22
Hi @vtjnash ,

What's your CPU?  Is it sandy bridge?

Xianyi

[2012-07-31 06:50] vtjnash commented on #22
Yes, my system is running in a VM on a sandy bridge (Core i7 2620M). However, I'm currently having build issues that are making it tough for me to do additional testing on this, but @loladiro indicate he may have time today and is also able to reproduce this issue.

[2012-07-31 16:22] xianyi commented on #22
Hi @vtjnash ,

Could you build OpenBLAS with NEHALEM target? For example, make TARGET=NEHALEM.

Then, try to reproduce this error.

Thanks

Xianyi

[2012-08-01 01:18] vtjnash commented on #22
Unless I made some mistake in compiling, TARGET=NEHALEM and TARGET=PENRYN also fail, but TARGET=COPPERMINE succeeds. (on a side note, TARGET=NOCONA didn't seem to be recognized and instead started compiling for SANDYBRIDGE)

On a different, AMD-64, machine, TARGET=BARCELONA also fails, but with a slightly different stack trace.

If I build with DYNAMIC_ARCH=1, is there a easier / faster way to tes

[2012-08-03 09:12] Keno commented on #22
@xianyi @zchothia We're beginning to think that this is memory/stack alignment issue where OpenBLAS makes an assumption that is not necessarily true on Windows. We're not quite sure what exactly is going wrong but maybe you have any ideas given that information. Also, does OpenBLAS have any kind of assertions that check for alignment that I could enable?

[2012-08-03 13:54] xianyi commented on #22
Hi @vtjnash , @loladiro ,

Please test this issue with single thread. For example, export OPENBLAS_NUM_THREADS=1.

Sorry, we didn't implement this assertion. dcopy and dscale are BLAS 1 functions. We implement the kernels in assembly language.

@zchothia , can we debug this in windows? Or, we can generate the core file.

[2012-08-03 16:04] Keno commented on #22
In this case OpenBLAS was built without threads anyway so that shouldn't be an issue.

[2012-08-04 20:52] #26 closed, assigned to nobody

[2012-08-05 05:17] xianyi commented on #22
Hi @loladiro ,

I think you need to narrow down the function.
For example, you can try building BLAS 2 & 3 of OpenBLAS and BLAS 1 of reference BLAS.

Thanks

Xianyi

[2012-08-06 13:49] #22 closed, assigned to nobody

[2012-08-20 08:59] ViralBShah opened #27 "Merge into mainline?"
@loladiro I would like to start using some of these things in the mainline julia.
1. Get rid of lighttpd, if ngnix works.
2. Get rid of fdlibm, and use openlibm.
3. Fix the libgfortran/libquadmath issue for distributing binaries, but you may be already addressing here.

Seems like you were waiting for some libuv related merges upstream. How about we keep using a forked version of libuv until upstr

[2012-08-20 14:14] Keno commented on #27
1. I've been using both lighttpd and nginx (I managed to work around the issues with the former, though it is still rather unmaintained). Not sure what's the best way to go.
2. Yeah, definitely, though I think we're still using fdlibm in some places even on windows.
3. It's pretty common to package those on windows when using MinGw, so that's what I'm doing. Not sure about Unix-like platforms, tho

[2012-08-20 14:20] ViralBShah commented on #27
1. I'd rather do away with lighttpd given that it is not maintained. In fact, the whole web repl can be moved into a package, once we have packaging.
2. After the Windows merge, I will make sure we use openlibm everywhere on all platforms, and put our energies into improving it.
3. Even on unix platforms, we need to bundle libquadmath and libgfortran at the very least - especially on mac. On linux

[2012-08-20 18:10] StefanKarpinski commented on #27
We should definitely ditch lighttpd in favor of nginx. Everyone uses nginx. I'm in NY right now and will be in CT this weekend, but after that I could come up to Cambridge. Really looking forward to meeting you, Keno!

[2012-08-20 18:51] Keno commented on #27
Yeah, whenever you guys are available is fine. I'll be there for a while ;)

[2012-08-30 05:34] Keno commented on #27
Just a heads up that I arrived Cambridge and got settled in, so I'm available anytime now.

[2012-09-09 18:57] ihnorton opened #29 "getenv regression between 17f50ea4e0 and f6f74ebea7"
vs:

[2012-09-09 19:03] ihnorton commented on #29
This breaks at least edit(".."), with the following error:

Rather inelegant temporary solution, added in env.jl \@windows_only accessEnv:

[code]

[2012-09-09 20:32] StefanKarpinski commented on #29
Factoid that may or not be helpful: there is an extra byte allocated for every `Array{Uint8}` that is set to `0x0` so that if you use a byte array as a string passed to C it will always be NUL-terminated. Hence the allocated length of a byte array is one greater than the number of bytes it looks like it actually is. Only byte arrays work like this.

[2012-09-09 21:31] ihnorton commented on #29
Thanks, I think that's it. 4ceda8a fixes it for me, but It's not entirely clear to me why bytestring() didn't chomp it down.. array.c:310 jl_pchar_to_string calls strlen which should have taken care of it, I think.

[2012-09-09 22:07] ihnorton commented on #29
Mistyped above - meant jl_cstr_tostring.

Tracing down from which() output, it makes sense now: bytestring(a, len) is calling jl_pchar_to_string with a fixed length which is +1 beyond the NUL ending.

[2012-09-09 22:16] Keno commented on #29
Fixed by @ihnorton's pull request. Thanks!

[2012-09-10 01:09] ihnorton commented on #29
Cool, thanks.  This default behavior for bytestring(Array) is kind of confusing.

[2012-09-10 01:09] #29 closed, assigned to nobody

[2012-09-10 01:56] StefanKarpinski commented on #29
How so? It's evolved over time and feedback on any confusion the current version causes would be good to know.

[2012-09-10 02:54] ihnorton commented on #29
Well, I naively expected that bytestring(Ptr{Uint8}) and bytestring(Array{Uint8,1}) would have the same behavior: namely, pulling a null-terminated string from some memory block. However, the former stops at 0x0, while the latter dumps the whole array. This is unhelpful for the common case of an Array(Uint8, N) passed to ccall (to a function expecting char*).

Tracing this out has actually been go

[2012-09-10 03:45] JeffBezanson commented on #29
It is defensible to use the name `cstring` for any function that assumes or does anything about trailing 0 bytes.

[2012-09-22 04:26] vtjnash commented on #24
fixed now

[2012-09-22 04:26] #24 closed, assigned to nobody

[2012-09-22 05:48] vtjnash opened #31 "optimize read{T}(this::Deserializer, a::Array{T})"
https://github.com/loladiro/julia/commit/1714996be6b13a312946098a13ff33dc9cf430cf#commitcomment-1890499

[2012-09-22 05:51] JeffBezanson commented on #27
Proposed date of merge is Oct. 2.

[2012-09-26 17:07] WestleyArgentum opened #32 "Running Julia files on Windows in bash shell seems broken"
To reproduce this issue create some file "foo.jl" and, inside it, write something like:

"some_int = 42
print(some_int)"

Or maybe just a string of junk "fjdsjkd;dfsajeknnsb". I've played with it a bit and gotten a range of behavior.

Next fire up a terminal and say "julia foo.jl"

What comes out is occasionally the correct output but often only a single character and sometimes nothing at all... A

[2012-09-26 20:05] vtjnash commented on #32
I can't reproduce this. Can you provide more information about your system configuration? What terminal are you using? Which version of Julia? Does using println instead of print help?

[2012-09-26 22:46] WestleyArgentum commented on #32
This is interesting. I've done more testing and I can repro it in cygwin bash shells and when running the Julia process using a wrapper called QProcess that is part of the Qt SDK. There is no problem running in the regular command prompt.

I'm using the windows binaries that are up on github and I've tried on machines with with and without cygwin and the Qt SDK (including a plain vanilla windows 7

[2012-09-27 00:26] vtjnash commented on #32
Thanks! I had tried it in MinGW and the regular command prompt and, as you said, it worked fine there.

If you look at the source code for the Windows binaries, I've had to comment out that line since libuv doesn't have a notion of flush.

Unless @loladiro knows how to add a flush method more directly, perhaps we should enter uv_run() at the end with one task that deletes all items that it can rea

[2012-09-27 00:40] Keno commented on #32
We should probably wait for the close_cb on stdout.

[2012-09-27 01:05] WestleyArgentum commented on #32
Ahhh, I can't believe I was looking at client.jl in the main repository instead of this one >.<

Anyway, thanks very much for looking at this... how about we give it a shot? Are you guys able to compile the source from this repo on windows using the main makefile or are there tricks that I have to know about? I've been unsuccessful a couple times but I may just be missing dependencies...

[2012-09-27 07:06] vtjnash commented on #32
Alright, I'll see about adding some code that tries to close everything and waits for libuv to exit more gracefully. I think that is more general then just waiting for close_cb on stdout? (although I may try that first to verify, when I can get some time free)

If you have MinGW with gcc, you should be able to pretty much just run make in the top level and everything should build. I'm not aware of

[2012-09-27 19:34] WestleyArgentum opened #33 "Compiling in windows"
I'm having trouble compiling on windows 7. I've tried three environments:

<b>MinGW</b>
I have an install of MinGW that includes all the compilers it optionally installs (including fortran). From the MingGW32 terminal I make (my make was part of a cygwin install) Julia and get these warnings / errors:

[code]

<b>Cygwin</b>
I have an install of cygwin which (I think) includes everything I need...

[2012-09-27 20:32] vtjnash commented on #33
Can you try `make OS=WINNT` with MinGW compilers on cygwin? Make.inc is not coded to detect the output of `uname` as Windows on Cygwin. A test for this should probably be added.

I guess fdlibm cannot be built on cygwin, but that dependency will be going away.

The warnings about -fPIC are unimportant (except that there will be fewer once it is detecting the OS correctly)

I don't see an error mes

[2012-09-27 23:46] WestleyArgentum commented on #33
Specifying OS=WINNT gets me a little further but not all the way.

We can come back to the other ways of building if we need but I think I'm really close with my 3rd environment (MingGW and cygwin in the path, make from plain windows command prompt).

I've pulled in a few more cygwin packages and things are smoother, but I get stuck here:

[code]

I've tried several things. Looking online the cons

[2012-09-28 01:59] vtjnash commented on #33
Try adding `USE_QUIET=0` to the `make` invocation to get a better idea about what is being called (and/or execute the make command from inside the deps folder). -lrandom should search for librandom.dll in various places (including USRLIB)

What additional packages were required? (for if someone else wanted to follow your work)

[2012-09-28 05:56] WestleyArgentum commented on #33
Alas, that doesn't give me much more to report. It outputs a list of the object files and clarifies what directories it's stepping into, but it doesn't tell me where it's looking for -lrandom:

[code]

It does seem to include the USRLIB directory... are you sure that "-lrandom" will pick up "librandom.dll"? Or, do you know where all it will look (current folder, path, etc)?

As for additional pack

[2012-09-28 06:11] vtjnash commented on #33
Yes, -lxxx is supposed to search for libxxx.dll. There's no way AFAIK to get the compiler to spew a list of its search directories. However, the -L flag is adding the proper directory to the search path.

If you do `nm librandom.dll` in the USRLIB directory, you can see if that dll is broken or empty (sometimes happens if the build got interrupted in the wrong place). It should spew a bunch of sym

[2012-09-28 07:27] WestleyArgentum commented on #33
I didn't know about nm, that's pretty cool.

So, I thought I had but I guess I forgot to test changing:

[code]

To:

[code]

Now I get:

[code]

So... even closer, but still not quite :/
This error seems to simply be another problem with finding files... maybe even another / \ thing. I don't see cdefs-compat.h in the openlibm dir right off... I'll look more in the morning, thanks for your help so

[2012-09-28 18:44] WestleyArgentum commented on #33
Hey! I'm now very close.

Several errors have just been variations of a problem where calls to "abspath" in a windows command prompt return paths with \'s and need to be converted to /'s. I've patched over the problems by hard-coding the paths but I'm sure there's a way to conditionally calling some alternative to "abspath" that will contain /'s. I'll look more at that when I've got this working.

[2012-09-28 19:04] vtjnash commented on #33
OK, I did a little more searching and I don't think / vs \ shouldn't matter, but C:/cygwin/home vs /home apparently does.

That include file is in deps/openlibm/include and should be included with -I (upper case i)

You may have success adding in adding -W to invocations of pwd, I'm not sure what the analog for abspath would be though

I can take a look into GLPK when I have more time later.

[2012-09-28 20:51] WestleyArgentum commented on #33
Have you guys made changes to GLPK? What would happen if I just used their binaries?

[2012-09-30 18:29] vtjnash commented on #33
You can just use their binaries. Setting USE_SYSTEM_GLPK=1 in make will prevent julia from building its own. (this is actually true of most of the items in deps -- the complete list can be found in Make.inc)

[2012-10-01 20:07] Keno commented on #27
Is this still the plan? I could come over to MIT tomorrow and be there from ~5pm till around ~9pm, if you guys want to meet up to do this. (/cc @vtjnash)

[2012-10-01 20:11] vtjnash commented on #27
@JeffBezanson Can you get us into Stata or pick another location? Or do we need to pick a new day? My evenings are surprisingly free this week.

[2012-10-01 22:32] JeffBezanson commented on #27
Ok I will reserve a room in stata 5-9.
On Oct 1, 2012 1:11 PM, "Jameson Nash" notifications@github.com wrote:

[2012-10-02 17:06] WestleyArgentum commented on #32
I really do hate to pester you like this, but have you had any time to look at this issue since we last talked?

[2012-10-02 18:55] vtjnash commented on #32
Thanks for the reminder, I had almost forgotten. I just took a look and found that it is in fact essential (on Windows) to close open pipes and streams before exiting to ensure the write callbacks get executed by Windows. TTY's are handled differently, so normal consoles worked as expected. I'll try to get a fix out for this soon.

[2012-10-02 19:12] WestleyArgentum commented on #32
Awesome, I look forward to it :)

[2012-10-02 19:21] JeffBezanson commented on #27
I have G631 tonight 5-9.

[2012-10-02 23:18] #16 closed, assigned to nobody

[2012-10-03 00:02] #31 closed, assigned to nobody

[2012-10-03 00:02] #17 closed, assigned to nobody

[2012-10-04 19:33] WestleyArgentum commented on #32
@vtjnash: I just noticed your commit from a couple days ago, does that seem to solve the problem?

[2012-10-05 18:26] vtjnash commented on #32
I showed that the concept was right, but that commit wasn't quite right. Libuv may need to be updated and fixed to actually correct this, but I won't be sure until there is a clear testcase (in c) that can demonstrate the failure.

[2012-10-05 22:09] WestleyArgentum commented on #32
@vtjnash: I'm not sure if we've spoken in person before or not. I'm working at Forio on a project relating to Julia and, well, Windows support has become a very time critical thing for us. Could you please send me an email at whennigh@forio.com so that we can discuss this?

[2012-10-06 06:39] #32 closed, assigned to nobody

[2012-10-06 07:00] vtjnash commented on #32
note: simplest test case for this was `./julia test.jl | cat -`

@WestleyArgentum I appreciate your urgency, but this is not my day job. Additionally, I sometimes have to sleep on the issues for a few days to figure out where I went wrong. (the commit from a few days ago was only a fraction of what I eventually tested to no avail)

[2012-10-06 20:44] WestleyArgentum commented on #32
@vtjnash: Sorry, I didn't mean to come across that demanding and I certainly don't mean to pin this on you. I just wasn't quite sure what you needed and, because we were dependent, I wanted to find some way help...

Thanks so much for putting in so much time on this, heh, and I totally know what you mean by needing to sleep on things.

Would you be willing to make and put up windows binaries for t

[2012-10-08 04:23] vtjnash commented on #32
@WestleyArgentum no problem. I tried building binaries for windows, but they are failing tests either because something is getting into the garbage collector uninitialized, or because the stack pointer is getting corrupted by gcc-compiled code, or both. I currently suspect the former. If you have time to try to backtrace this GC value to it's origin (revealed by running julia-debug-basic with gcc)

[2012-10-08 06:21] JeffBezanson commented on #32
Does the uninitialized value bug exist on other platforms too?

[2012-10-08 07:01] vtjnash commented on #32
moving discussion to issue #34

[2012-10-08 07:05] vtjnash opened #34 "arrayops test crashes on windows"
On Windows, arrayops test fails:

[code]

[2012-10-08 16:30] vtjnash commented on #34
Note that the error is 0xbaadf00d, indicating uninitialized heap access

@JeffBezanson my guess is that it is caused by this line -->    `jl_struct_kind->type = (jl_type_t*)jl_struct_kind;` jltypes.c:2244, because jl_struct_kind is not a valid jl_struct_type_t (it doesn't initialize fields or the space after it)

[2012-10-08 19:16] vtjnash commented on #34
Oops, I didn't see jl_compute_struct_offsets, I guess it is a valid type. However, now I'm extra confused as to why for jl_struct_kind I find that fields[0].isptr == 0 but types[0] is declared to be jl_any_type

[2012-10-08 19:47] vtjnash commented on #34
Rather I was talking about the wrong type: this is segfaulting while trying to GC jl_tag_kind (as a jl_struct_kind)

On windows & unix we can observe the following in libuv branch:

[code]

vs expected:

[code]

most of the other fields seem OK, but I can't find where they got assigned

@JeffBezanson please ping me on IRC when you get a chance

[2012-10-08 21:13] vtjnash commented on #34
Found it: repeat of https://github.com/JuliaLang/julia/issues/1314

[2012-10-10 00:12] WestleyArgentum commented on #34
Nicely done! Does anyone with permissions on the repo have time to pull in the fix and make some binaries for testing?

[2012-10-13 03:42] #34 closed, assigned to nobody

[2012-10-15 04:15] vtjnash commented on #27
Result of this was that we should write a document describing the design of the new I/O API. (New I/O API is essentially blocking waits with callbacks and coroutines, as provided by libuv.)

[2012-10-15 04:15] vtjnash opened #37 "Wait"
Implementation of various wait calls needs to be fixed to not busy-wait.

[2012-10-15 04:17] vtjnash opened #38 "Buffer types"
Implementations of Buffers needs to be merged into two primary types:
- stream-like interface (separate read & write pointers, no seek)
- file-like interface (one r/w pointer, arbitrary seek)

[2012-10-15 04:22] vtjnash commented on #33
Do you have any updates, or can I close this issue so that it can be recreated later given more specific build errors?

[2012-10-15 06:27] vtjnash opened #39 "file.jl"
File.jl cannot depend upon shell support for functions (mkdir, etc) since these don't exist as executables on windows

[2012-10-16 05:52] vtjnash opened #40 "@everywhere with float literal"
Something about (de)serializing floats is broken in libuv branch (ok on master)

[code]

[2012-10-17 03:04] vtjnash opened #41 "open_any_tcp_port fails in web-repl on windows"
On Windows, open_any_tcp_port fails immediately "could not bind to socket" (in the web-repl) if the default tcp port is unavailable

[2012-10-26 21:38] vtjnash opened #42 "make temp files"
implement mktempdir and mktemp for windows

[2012-10-31 21:47] #42 closed, assigned to nobody

[2012-10-31 22:07] vtjnash opened #43 "resolve usage of WindowsCallA vs WindowsCallW functions"
Current windows calls should possibly only apply to ASCII strings?

[2012-11-02 06:33] #39 closed, assigned to nobody

[2012-11-03 20:23] vtjnash commented on #38
fixed in b81428c7c69a84e270017265ee0e982b2d690f75

[2012-11-03 20:24] #38 closed, assigned to nobody

[2012-11-03 20:25] vtjnash opened #44 "combine various incantations of Async Runners"

[2012-11-06 08:07] #37 closed, assigned to nobody

[2012-11-06 08:07] vtjnash commented on #37
closed with eafb5654512d40866ae6431d27511041f1c7fe2f

[2012-11-06 08:28] ViralBShah commented on #37
Would it be better to do some of these things directly on the main julia repo? Just trying to understand if we can start mainstreaming some of this stuff.

[2012-11-06 08:49] vtjnash commented on #37
This patch has no relevance in the main julia repo currently. This was one of a small set of fixes (and the last major one, IIRC) that Jeff had requested to get closer to the merge for the libuv fork.

[2012-11-25 03:37] #40 closed, assigned to nobody

[2012-11-25 03:37] #25 closed, assigned to nobody

[2012-11-26 13:41] #41 closed, assigned to nobody

[2012-11-28 01:27] Keno commented on #27
What's left to do before we can merge this?

[2012-11-28 01:43] JeffBezanson commented on #27
I'd love to see some documentation, since I am a bit overwhelmed at all the new types and function names in here. I suspect after a page of explanation it will all make sense.

[2013-01-08 06:06] #27 closed, assigned to nobody

[2013-01-08 06:07] Keno commented on #33
Works for me!

[2013-01-08 06:07] #33 closed, assigned to nobody

[2013-01-08 06:09] vtjnash commented on #43
moved to julialang

[2013-01-08 06:09] #43 closed, assigned to nobody

[2016-10-06 21:46] vtjnash commented on #44
This was done

[2016-10-06 21:46] #44 closed

[2016-10-06 21:46] vtjnash commented on #44
I love closing double-digit issues.